body {
    background: radial-gradient(ellipse at top center, #2a2a2a 0%, #000000 100%);
    color: #ffffff;
    margin: 0;
}
section {
    position: relative;
}
.section-anchor {
    position: absolute;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%),
        url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0px 30px;
    padding-top: 100px;
    max-width: 1020px;
}

.hero .container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
    gap: 50px;
}
.hero .container h2 {
    color: var(--text-color);
}
.hero .cta-button {
    font-size: 19px;
    padding: 10px;
    background-color: var(--white-color);
    color: var(--black-color);

    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.75);
}
.cta-button:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.slogan-highlight {
    display: flex;
    gap: 30px;
    animation: fadeInUp 2s ease-out;
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
    color: var(--white-color);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hero .contact-tel,
.hero .contact-email {
    font-size: 2.5rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}
.hero .contact-email {
    justify-content: center;
}

.hero .hero-intro {
    font-size: 19px;
}

.background-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../images/logo.png") center center no-repeat;
    background-size: contain;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.about .container,
.partners .container {
    flex-direction: column;
    font-size: 19px;
}

.about h2,
.partners h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--text-color);
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
}

.about p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.about strong {
    font-weight: 700;
}

.about ul {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

.about ul li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
}

.about ul li::before {
    content: "â—";
    position: absolute;
    left: 0;
    top: 0;
}

main {
    margin: 0 auto;
}

.contact > .container {
    justify-content: space-between;
    align-items: flex-start;
}
.contact-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 19px;
}
.contact-data h2 {
    margin-bottom: 20px;
}

.contact-data p {
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact-data p svg {
    margin-left: 15px;
}

.socials {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-link {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 50%;
}
.social-link:hover {
    opacity: 0.5;
}
.social-icon {
    fill: var(--black-color);
}

.contact-map {
    border-radius: 15px;
    overflow: hidden;
    width: 550px;
    height: 380px;
    border: 0;
}
.contact-map iframe {
    width: 100%;
    height: 100%;
}

.service {
    margin-bottom: 40px;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-grid img:hover {
    transform: scale(1.05);
}

.footer {
    margin-top: 100px;
    width: 100%;
    background: #131313;
}
.footer .container {
    flex-direction: column;
    padding-top: 30px;
}
.footer .logo-wrapper {
    height: 90px;
    margin-left: 30px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.watermark {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
/***************/
.aluminum-section > .container {
    flex-direction: column;
}
.aluminum-section h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--text-color);
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 19px;

    line-height: 1.6;
}

.card-container {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 350px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    background: var(--text-color);
    margin: 30px 0;
    color: var(--black-color);
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.75);
}

.card {
    display: none;
    align-items: flex-start;
    gap: 20px;
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.card.active {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

.card-text {
    width: 55%;
    padding: 20px;
}

.card-text h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-text p {
    font-size: 1.25rem;
    line-height: 1.5;
}

.card-image {
    width: 45%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-controls {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.card-controls button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 1.2rem;
}

.dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.dot.active {
    background: gray;
}
/*Partners*/
/*************************/
.partners .container {
    max-width: 100%;
}
.partners h2 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.partner-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.partner-card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    width: 220px;
    height: 220px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.partner-card:hover {
    transform: scale(1.03);
}

.partner-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    /*filter: grayscale(100%) brightness(1.2);*/
    transition: filter 0.3s ease;
}

.partner-card:hover img {
    /*filter: grayscale(0%);*/
}

.partner-description {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.92);
    color: #ccc;
    font-size: 0.9rem;
    padding: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.partner-description a {
    color: #999;
    text-decoration: underline;
    font-size: 0.8rem;
    margin-top: 10px;
}

.partner-card.active .partner-description {
    display: flex;
}

@media (width < 868px) {
    .hero .container {
        align-items: center;
        text-align: center;
    }
    .card-container {
        height: auto;
        width: 100%;
        max-width: 450px;
        margin: 30px auto;
    }

    .card {
        align-items: flex-start;
        flex-direction: column;
    }

    .card-text {
        width: 100%;
        padding: 0;
        min-height: 205px;
    }

    .card-text h3 {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    .card-text p {
        font-size: 1.05rem;
        line-height: 1.25;
    }

    .card-image {
        width: 100%;
        height: auto;
    }

    .contact > .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .contact-map {
        width: 100%;
        max-width: 550px;
        height: 380px;
    }
}

@media (width < 600px) {
    .slogan-highlight {
        flex-direction: column;
        width: 260px;
        text-align: left;
    }
}

@media (width < 480px) {
    .slogan-highlight {
        font-size: 19px;
        line-height: 24px;
        gap: 20px;
    }
}

@media (width < 400px) {
    .card-text {
        min-height: 270px;
    }
    .footer .logo-wrapper {
        margin-left: 0;
    }
    .watermark {
        flex-direction: column;
    }
}
